/***GLOBAL Styles start****/
.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    z-index: 2;
    background-color: white;

}

.nav-item {
    color: black;
    font-size: 2vw;
    text-decoration: none;
    font-family: "Bodoni MT Poster Compressed", sans-serif;
    transition: transform 0.3s ease;

}

.nav-item:hover {
    text-decoration: underline;
    transform: scale(1.1);


}

/****Footer Styling***/
.app-footer,
.contact-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;


    font-size: xx-large;

    background-color: #6ccddc;
    color: white;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;

}

.contact-footer {
    bottom: -10vw;
    left: 0;
    right: 0;
    height: 300px;
    justify-content: flex-end;
}

/*****Content Styling*****/
.content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    font-family: "Bodoni MT Poster Compressed", sans-serif;
    background-color: #6ccddc;
    color: white;
    z-index: 1;
}

.content-container p {
    font-size: 3vw;
}



.map-container {
    border: 3px solid black;
    border-radius: 8px;
}

.map-container iframe {
    width: 20vw;
    height: 20vh;
}



h1 {
    text-align: center;
    font-family: "Bodoni MT Poster Compressed", sans-serif;
}

/***GLOBAL Styles END****/


/*******Contact Page START********/
.back-image {
    width: 98vw;
    height: 80vh;
}

.form-container {
    background-color: black;
    width: 70vw;
    height: 60vh;

    position: absolute;
    top: 12vh;

    display: flex;
    flex-flow: row wrap;

    border-radius: 8px 6px 8px 6px;

    padding: 10px;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 45vw;

}

.data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25vw;
}

.subject-input,
.email-input,
.form textarea {
    width: 40vw;
    padding: 12px 10px 12px 10px;
    background-color: black;
    border-bottom: 3px solid #6ccddc;
    color: white;
    border-radius: 4px 6px 4px 6px;
    font-size: large;
    font-family: "Bodoni MT Poster Compressed", sans-serif;


}

.form textarea {
    resize: none;
    height: 20vh;
}

.data h2 {
    color: #6ccddc;
    text-align: center;
}

.data p {
    color: white;
    font-size: large;
}






.submit {
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px 6px 8px 6px;
    font-size: large;
    background-color: #6ccddc;
    color: white;


}

@media (max-width: 800px) {
    .form-container {
        flex-flow: column nowrap;
        align-items: center;
        height: 88vh;
        width: 90vw;
        top: 10vh;
    }

    .form {
        width: 70vw;
        margin-top: 10px;
    }

    .subject-input,
    .email-input,
    .form textarea {
        width: 60vw;
    }

    .data {
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .data h2 {
        font-size: xx-large;
    }

    .data p {
        font-size: x-large;
    }

    .map-container {
        width: 60vw;
        position: absolute;
        left: 15vw;
        bottom: 1vh;

    }

    .map-container iframe {
        width: 60vw;
        ;
    }

    .back-image {
        height: 100vh;
    }

    .contact-footer {
        position: absolute;
        bottom: -30vh;
    }

    /*******Contact Page END********/


}
