/***GLOBAL Styles start****/
.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    z-index: 2;
    background-color: white;

}

.nav-item {
    color: black;
    font-size: 2vw;
    text-decoration: none;
    font-family: "Bodoni MT Poster Compressed", sans-serif;
    transition: transform 0.3s ease;

}

.nav-item:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/****Footer Styling***/
.app-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;


    font-size: xx-large;

    background-color: #6ccddc;
    color: white;
    padding-top: 50px;
}
.category-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.full_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 25vw;
    height: 60vh;
    margin: 10px;
}
.column_container{
    width: 20vw;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.column_container img{
    width: 20vw;
    height: 40vh;
    min-width: 20vw;
}
.product_information{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 20vh;
    width: 20vw;
    color: black;
}
.product_name{
    font-weight: bold;
}
.desc_container{
    padding-left: 10px;
}
.action_buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 4vw;
    opacity: 0;

    transition: 1s ease;

    background-color: #1a202c;
}
.action_button{
    height: 20vh;
    width: 3vw;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.full_container:hover .action_buttons{
    display: flex;
    opacity: 1;
}
@media (max-width: 850px) {
    .category-container{
        align-items: center;
        justify-content: center;

    }
    .full_container{
        width: 70vw;
        margin-left: 5vw;
    }
    .column_container{
        width: 50vw;
    }
    .column_container img{
        width: 50vw;
    }
    .product_information{
        width: 50vw;
    }
    .action_buttons{
        width: 20vw;
    }
    .action_button{
        width: 20vw;
    }


}






/*****Content Styling*****/
.content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-family: "Bodoni MT Poster Compressed", sans-serif;
    background-color: #6ccddc;
    color: white;
    z-index: 1;



}





.map-container {
    border: 3px solid black;
    border-radius: 8px;
}

.map-container iframe {
    width: 20vw;
    height: 20vh;
}



h1 {
    text-align: center;
    font-family: "Bodoni MT Poster Compressed", sans-serif;
}

/***GLOBAL Styles END****/


/*******Contact Page START********/
.back-image {
    width: 98vw;
    height: 80vh;
}

.form-container {
    background-color: black;
    width: 70vw;
    height: 60vh;

    position: absolute;
    top: 40vh;

    display: flex;
    flex-flow: row wrap;

    border-radius: 8px 6px 8px 6px;

    padding: 10px;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 45vw;



}

.data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25vw;
}

.subject-input,
.email-input,
.form textarea {
    width: 40vw;
    padding: 12px 10px 12px 10px;
    background-color: black;
    border-bottom: 3px solid #6ccddc;
    color: white;
    border-radius: 4px 6px 4px 6px;
    font-size: large;
    font-family: "Bodoni MT Poster Compressed", sans-serif;


}

.form textarea {
    resize: none;
    height: 20vh;
}

.data h2 {
    color: #6ccddc;
    text-align: center;
}

.data p {
    color: white;
    font-size: large;
}






.submit {
    margin-top: 15px;
    padding: 20px;
    border-radius: 8px 6px 8px 6px;
    font-size: large;
    background-color: #6ccddc;
    color: white;


}

@media (max-width: 800px) {
    .form-container {
        flex-flow: column nowrap;
        align-items: center;
        height: 88vh;
        width: 90vw;
        top: 10vh;
    }

    .form {
        width: 70vw;
        margin-top: 10px;
    }

    .subject-input,
    .email-input,
    .form textarea {
        width: 60vw;
    }

    .data {
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .data h2 {
        font-size: xx-large;
    }

    .data p {
        font-size: x-large;
    }

    .map-container {
        width: 60vw;
        position: absolute;
        left: 15vw;
        bottom: 1vh;

    }

    .map-container iframe {
        width: 60vw;
    ;
    }

    .back-image {
        height: 100vh;
    }

    .contact-footer {
        position: absolute;
        bottom: -30vh;
    }

    /*******Contact Page END********/




}
